html {
    line-height: 1.5;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
       tab-size: 4;
    /* 3 */
    font-family: Inter, sans-serif;
    /* 4 */
  }
/* mereset semua margin di browser */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    color: blue; /* Tautan akan berwarna biru */
    text-decoration: underline; /* Tautan akan memiliki garis bawah */
}

a:hover {
    color: red; /* Ketika kursor berada di atas tautan, warnanya akan berubah menjadi merah */
}
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

/* Gaya navbar pada layar besar */
nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Tombol toggle untuk tampilan mobile */
.toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/* Gaya navbar pada layar kecil (dibuat responsif) */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .toggle {
        display: flex;
    }
}
